extends layout

block content
	.container
		.row.two
			.logo-container 
				img#logo(src="images/SprouTu.png")
			#right-wrapper
				h4: i Welcome Julia!
				.summary-data
					.category
						p Open Accounts
						h4 2
					.category
						p Payments
						h4 3
					.category
						p Inquiries
						h4 1
		br
		.row.two#botttom
			.tree_wrapper
				h4 Your Credit Score
				.tree
					.credit_info.clearfix
						.credit_score#score: span 649
						.credit_score.credit_change: span +12
					video#my-video(src="/videos/tree.mp4")
			.right_wrapper.clearfix
				.col-md-12.zero-pad
					h4 Your Personalized Dashboard
					.dashboard
						.tabgroup
							.tab1.active
								span Credit Cards
								span.icon-optimization.hidden-md
							.tab2
								span Home Loans
								span.icon-optimization.hidden-md
							.tab3
								span Business Loans
								span.icon-optimization.hidden-md
							.tab4
								span Personal Loans
								span.icon-optimization.hidden-md
							.tab5
								span Student Loans
								span.icon-optimization.hidden-md
						.content-group
							.dash-content1.active
								.col-md-1
								.col-md-3
									.credit-card-wrapper
										img.credit-card(src='media/Chase-British-Airways-Visa-Credit-Card.jpg')
										p British Airways
										p Ending in 9112
										p Balance:
										p Balance Date:
										p Monthly Payment:
										p Term:
										.details-button.orange Account Details
								.col-md-3
									.credit-card-wrapper
										img.credit-card(src='media/citibusiness-world-mastercard-credit-card1.jpg')
										p CitiBusiness World
										p Ending in 6789
										p Balance:
										p Balance Date:
										p Monthly Payment:
										p Term:
										.details-button.orange Account Details
								.col-md-1
									p Recommeded for you
								.col-md-3
									.credit-card-wrapper
										img.credit-card(src='media/citibusiness-world-mastercard-credit-card1.jpg')
										p CitiBusiness World
										p Ending in 6789
										p Balance:
										p Balance Date:
										p Monthly Payment:
										p Term:
										.details-button.green Apply Now
								.col-md-1
							.dash-content2
							.dash-content3
							.dash-content4
							.dash-content5
				//- .content
				.col-md-12.zero-pad
					br
					h4 Growth Plan
					.growth-plan
						h2 689-690 Projected Credit Score
						br
						.row
							.col-md-3
								.growth-option.green
									.CRATE
										p CLOSE OLDEST
										p CREDIT CARD
							.col-md-3
								.growth-option.yellow
									.CRATE
										p ADD NEW
										p AUTO LOAN
							.col-md-3
								.growth-option.orange
									.CRATE
										p ADD NEW
										p MORTGAGE
							.col-md-3
								.growth-option.blue
									.CRATE
										p ADD
										p PUBLIC RECORD
						br
						.row
							.col-md-3
								.growth-option.orange.click-target
									.CRATE
										p PAY OFF ALL
										p CREDIT CARDS
							.col-md-3
								.growth-option.blue
									.CRATE
										p PAY BILLS
										p ON TIME
							.col-md-3
								.growth-option.green
									.CRATE
										p INCREASE
										p CREDIT LIMIT
							.col-md-3
								.growth-option.yellow
									.CRATE
										p INCREASE
										p BALANCE
										P ON CREDIT LIMIT
						.row.toggle
							.col-md-12
								.info-alert
									.icon-credit-card
									p By paying off all credit card balances, you can increase your score by 35 points.


				.col-md-12.zero-pad
					br
					h4 Your timeline
					.your-timeline






