extends layout

block content
	.container
		.row
			.col-md-6 Logo
			.col-md-6
				h4 Welcome Julia!
				.summary-data
		br
		.row
			.col-md-4
				h4 Your Credit Score
				.tree
					.credit_score: span 649
			.col-md-8
				h4 Your Personalized Dashboard
				.dashboard
					.tabgroup
						.tab1.active: span Credit Cards
						.tab2: span Home Loans
						.tab3: span Business Loans
						.tab4: span Personal Loans
						.tab5: span Student Loans
					.content-group
						.dash-content1.active
						.dash-content2
						.dash-content3
						.dash-content4
						.dash-content5
			//- .content
			.col-md-4
			.col-md-8
				br
				h4 Growth Plan
				.growth-plan
			.col-md-4
			.col-md-8
				br
				h4 Your timeline
				.your-timeline

