extends layout

block content
	.container
		.row
			.col-md-4
				h4 Your Credit Score
				.tree
					.credit_score: span 649
			.col-md-8
				h4 Your Dashboard
				.dashboard
					.tabgroup
						.tab
						.tab
						.tab
						.tab
						.tab
					.content

