extends layout

block content
	.container
		.row
			.col-md-6 
				h1 Logo
			.col-md-6
				h4: i Welcome Julia!
				.summary-data
					.category
						p Open Accounts
						h4 2
					.category
						p Payments
						h4 3
					.category
						p Inquiries
						h4 1
		br
		.row.two
			.tree_wrapper
				h4 Your Credit Score
				.tree
					.credit_score: span 649
					video#my-video(src="/videos/tree.mp4")
			.right_wrapper.clearfix
				.col-md-12
					h4 Your Personalized Dashboard
					.dashboard
						.tabgroup
							.tab1.active
								span Credit Cards
								span.icon-optimization.hidden-md
							.tab2
								span Home Loans
								span.icon-optimization.hidden-md
							.tab3
								span Business Loans
								span.icon-optimization.hidden-md
							.tab4
								span Personal Loans
								span.icon-optimization.hidden-md
							.tab5
								span Student Loans
								span.icon-optimization.hidden-md
						.content-group
							.dash-content1.active
								.col-md-3

								.col-md-3
									.credit-card-wrapper
										img.credit-card(src='media/Chase-British-Airways-Visa-Credit-Card.jpg')
										p British Airways
										p Ending in 9112
										p Balance:
										p Balance Date:
										p Monthly Payment:
										p Term:
								.col-md-3
									.credit-card-wrapper
										img.credit-card(src='media/citibusiness-world-mastercard-credit-card1.jpg')
										p CitiBusiness World
										p Ending in 6789
										p Balance:
										p Balance Date:
										p Monthly Payment:
										p Term:
								.col-md-3
							.dash-content2
							.dash-content3
							.dash-content4
							.dash-content5
				//- .content
				.col-md-12
					br
					h4 Growth Plan
					.growth-plan
						h2 689-690 Projected Credit Score
						.col-md-3
						.col-md-3
						.col-md-3
						.col-md-3
				.col-md-12
					br
					h4 Your timeline
					.your-timeline

