.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

#my-video {
	width: 98%;
}

.tree_wrapper {
  position: fixed;
  width: 25%;
  max-width: 388px;
}

.two {
	width: 100%;
}

.right_wrapper {
	width: 67%;
	float: right;
}


.credit_score {
  display: table;
  height: 110px;
  background: #fcd800;
  color: #fff;
  margin-bottom: 40px;
  float: left;
}

.credit_score span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

.credit_score {
	float: left;
	width: 60%
}

.credit_change {
  background: white;
	float: right;
	width: 40%
}

.credit_change span{
   color: #A9D961;
}