.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

#my-video {
  padding-top: 60px;
  border-top-color: #0295be;
  border-top-width:  6px;
  border-top-style: solid; 
	width: 100%;
}

.tree_wrapper {
  position: fixed;
  width: 25%;
  max-width: 350px;
}
row {
  margin: 0px;
}

.two {
  margin: 0px;
	width: 100%;
}

.right_wrapper {
  width: 67%;
  float: right;
}

div#right-wrapper {
  width: 67%;
  float: right;
}

.zero-pad {
  padding: 0px;
}

.credit_score {
  display: table;
  height: 110px;
  background: #fcd800;
  color: #fff;
  float: left;
}

.credit_info {
  background-color: #0295be;
}

.credit_score span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}

.credit_score {
	float: left;
	width: 60%
}

#score {
   border-right-color: #0295be;
  border-right-width:  3px;
  border-right-style: solid; 
}

.credit_change {
 border-left-color: #0295be;
  border-left-width:  3px;
  border-left-style: solid; 
  background: white;
	float: right;
	width: 40%
}

.credit_change span{
   color: #A9D961;
}

#logo {
  height: 176px;
  width: 100%;
  max-width: 350px;
}

.logo-container {
  padding: 0px;
  position: fixed;
  width: 25%;
  max-width: 388px;
}

#botttom {
  position: relative;
}