
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Intro/sansation_light.woff);
}

// Standard Palette
@white: #fff;
@black: #000;

@tu-blue: #0295BE;
@tu-blue--hover: #0081A1;

@tu-yellow: #FCD800;
@tu-yellow--hover: #E0C000;

// Expanded Palette
@tu-red: #E14025;
@tu-red-web: #D74025;

@tu-green: #A9D161;
@tu-green-web: #008A00;

@tu-orange: #F17123;
@tu-orange-web: #F16E00;

// @light-gray: 


.fixed-crate {
	position: fixed;
	width: 380px;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #0295BE;
	color: @white;

	margin: 0;
}

.container {
	min-width: 290px;
}

// Summary
.summary-data {
	height: 100px;
	background: #fff;
	color: @black;

	.category {
		position: relative;

		box-sizing: border-box;

		padding-top: 8px;
		width: 30%;
		float: left;

		text-align: center;
	}
}




.credit_score {
	display: table;

	height: 110px;
	background: #fcd800;
	width: 100%;

	color: #fff;

	margin-bottom: 40px;
}
.credit_score span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
}

.tree {
	height: 600px;
	background: #fff;
}

.dashboard {
	// height: 400px;
}

.tabgroup {

	height: 60px;
	color: @black;

}

.tab1, .tab2, .tab3, .tab4, .tab5 {
	display: table;
	color: @tu-orange;

	height: 100%;

	width: 19.5%;
	margin-left: .625%;

	&:first-child {
		margin-left: 0;
	}

	background: #fff;
	float: left;

	text-indent: 8px;

	cursor: pointer;

	span {
		height: 60px;
		display: table-cell;
		vertical-align: middle;

		&:first-child {
			color: black;
		}
	}
	&.active span {
		height: 64px;
		color: @tu-blue;

		&:first-child {
			color: black;
		}
	}
}
.icon-optimization {
	position: relative;

	&:before {
		font-size: 34px;
		position: absolute;
		right: 3px;
		top: 19px;
	}
}

.content-group {
	height: 260px;
	color: @black;
}

.dash-content1, .dash-content2, .dash-content3, .dash-content4, .dash-content5 {
	display: none;

	height: 100%;
	width: 19.5%;
	margin-left: .625%;

	float: left;
	background: white;

	&:first-child {
		margin-left: 0;
	}

	&.active {
		display: table;

		width: 100%;
		margin-left: 0;
	}

}

.credit-card-wrapper {
	box-sizing: border-box;
	padding: 18px 0;

	p {
		margin: 3px;
	}
}

.credit-card {
	width: 120px;
}


.content {
	height: 340px;
	background: #fff;
}

.growth-plan {
	height: 400px;
	background: @white;
	color: @black;

	box-sizing: border-box;
	margin: 0;
	padding: 12px;
}


.your-timeline {
	height: 400px;
	background: @white;


}

