
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Intro/sansation_light.woff);
}

h4 {
	margin-bottom: 3px;
}

// Standard Palette
@white: #fff;
@black: #000;

@tu-blue: #0295BE;
@tu-blue--hover: #0081A1;

@tu-yellow: #FCD800;
@tu-yellow--hover: #E0C000;

// Expanded Palette
@tu-red: #E14025;
@tu-red-web: #D74025;

@tu-green: #A9D161;
@tu-green-web: #008A00;

@tu-orange: #F17123;
@tu-orange-web: #F16E00;

// @light-gray: 


.fixed-crate {
	position: fixed;
	width: 380px;
}

body {
	padding: 50px;
	font: 14px myFirstFont, Helvetica, Arial, sans-serif;
	background: #0295BE;
	color: @white;

	margin: 0;
}

.container {
	min-width: 290px;
}

.category {
	display: table;
	overflow: hidden;
	height: 53px;
	background: white;

	p {
		margin: 0;
		display: table-cell;
		width: 80%;
		vertical-align: middle;
	}
	h4 {
		display: table-cell;
		width: 20%;
		vertical-align: middle;
		color: @tu-orange;
	}
}

// Summary
.summary-data {
	background: #fff;
	color: @black;
}

.tree {
	position: relative;
	height: 400px;
	background: #fff;
}

.dashboard {
	// height: 400px;
}

.tabgroup {

	color: @black;

}

.tab1, .tab2, .tab3, .tab4, .tab5 {
	display: table;
	color: @tu-orange;

	height: 100%;

	width: 19.5%;
	margin-left: .625%;

	&:first-child {
		margin-left: 0;
	}

	background: #fff;
	float: left;

	text-indent: 8px;

	cursor: pointer;

	span {
		height: 45px;
		display: table-cell;
		vertical-align: middle;

		&:first-child {
			color: black;
		}
	}
	&.active span {
		height: 49px;
		color: @tu-blue;

		&:first-child {
			color: black;
		}
	}
}
.icon-optimization {
	position: relative;

	&:before {
		font-size: 34px;
		position: absolute;
		right: 1px;
		top: 12px;
	}
}

.content-group {
	height: 260px;
	color: @black;
}

.dash-content1, .dash-content2, .dash-content3, .dash-content4, .dash-content5 {
	display: none;

	height: 100%;
	width: 19.5%;
	margin-left: .625%;

	padding: 42px 38px;

	float: left;
	background: white;

	&:first-child {
		margin-left: 0;
	}

	&.active {
		display: table;

		width: 100%;
		margin-left: 0;
	}

}

.credit-card-wrapper {
	position: relative;
	box-sizing: border-box;

	margin: 0 auto;
	height: 200px;

	p {
		margin: 3px;
	}

	h4:first-child {
		height: 40px;
	}
}

.credit-card {
	width: 120px;
}

.details-button.green {
	position: relative;
	width: 120px;

}

.details-button.orange {
	position: relative;
	width: 120px;
}
.details-button {

	width: 100%;

	box-sizing: border-box;
	padding: 4px;

	color: white;
	text-align: center;

	cursor: pointer;

	&.orange {
		background: @tu-orange;
	}
	&.green {
		background: @tu-green;
	}
}


.content {
	height: 340px;
	background: #fff;
}

.growth-plan {
	background: @white;
	color: @black;

	box-sizing: border-box;
	padding: 32px 38px;

	h2 {
		margin: 0;
	}

	text-align: center;
}

button.btn.btn-info {
  width: 130px;
  margin-top: 20px;
  background-color: #0295be;
}

.growth-option {
	padding-top: 100%;
	cursor: pointer;

	&.green {
		background: @tu-green;

		&:hover {
			background: @tu-green-web;
		}
	}
	&.yellow {
		background: @tu-yellow;

		&:hover {
			background: @tu-yellow--hover
		}
	}
	&.orange {
		background: @tu-orange;

		&:hover {
			background: @tu-orange-web;
		}
	}
	&.blue {
		background: @tu-blue;

		&:hover {
			background: @tu-blue--hover;
		}
	}

	.CRATE {
		position: absolute;
		bottom: 0;
		color: white;

		p {
			margin: 3px 5px;
		}
	}
}

.toggle {
	display: none;
}

.info-alert {
	display: table;

	position: relative;
	height: 50px;

	width: 100%;

	border: 1px solid @tu-orange;
	border-top-width: 0;
	border-right-width: 0;

	p {
		display: table-cell;
		vertical-align: middle;
	}

	.icon-credit-card {
		display: table-cell;
		vertical-align: middle;

		padding-top: 11px;
		padding-left: 10px;

		&:before {
			font-size: 45px;
			color: @tu-orange;
		}
	}
}

.your-planner {
	background: @white;
	padding: 32px 38px;
	color: black;

	& > h4 {
		position: relative;
		margin-left: -10px;
		top: -10px;
	}
}

.growth-crate {
	color: black;
	list-style-type: none;
	margin-left: 20px;
}

.icon-circle-open:before {
	position: absolute;
	left: 26px;
	font-size: 24px;

	transform: translateY(20px);
}

.your-timeline {
	background: @white;
	padding: 32px 38px;

	img {
		width: 100%;
	}
}

#csinc {
	&:before {
		content: '+';
	}
}




